.App {
  margin: 20px 17%;
}

.navbar {
  border: 1px solid lightgrey;
  border-radius: 6px;
}

.content {
  margin-top: 30px;
}

h2.pagehead {
  font-weight: 200 !important;
}

h5.pagehead {
  margin-top: -25px;
  margin-bottom: 20px;
}

.tablehead {
  height: 50px;
  margin-bottom: 20px;
}

.btn-end {
  justify-content: flex-end;
}
